:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background-color: #ffffff;
  margin: 0;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 767px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1199px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

* {
  box-sizing: border-box;
}

.header {
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .navigation {
    justify-content: space-between;
  }
  .navigation__list,
  .navigation__link,
  .contact {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navigation {
    justify-content: center;
  }
  .navigation__list {
    display: flex;
    list-style: none;
    column-gap: 60px;
  }
  .navigation__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    text-decoration: none;
    fill: #757575;
    color: #212121;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    text-decoration: none;
  }
  .navigation__link:hover, .navigation__link:focus {
    color: #2196f3;
    fill: #2196f3;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .navigation {
    justify-content: center;
  }
  .navigation__list {
    display: flex;
    list-style: none;
    column-gap: 46px;
  }
  .navigation__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    text-decoration: none;
    fill: #757575;
    color: #212121;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    text-decoration: none;
  }
  .navigation__link:hover, .navigation__link:focus {
    color: #2196f3;
    fill: #2196f3;
  }
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  background-color: #2f303a;
  border-bottom: 2px solid #212121;
}

.hero__header {
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/background-img-mobile.jpg");
    background-size: 480px 400px;
    background-repeat: no-repeat;
    background-position: center top;
  }
  .hero__header {
    font-size: 26px;
    line-height: 1.615;
    width: 365px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/background-img-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/background-img-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .hero__header {
    font-size: 26px;
    line-height: 1.615;
    width: 365px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/background-img-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/background-img-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .hero__header {
    font-size: 44px;
    line-height: 1.364;
    width: 696px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/background-img-desktop@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .about {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 45px;
  }
}

@media screen and (min-width: 1200px) {
  .about .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.about__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  row-gap: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .about__list {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about__list {
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .about__list {
    column-gap: 30px;
  }
}

.about__card {
  width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding-left: 90px;
}

@media screen and (min-width: 768px) {
  .about__card {
    width: 354px;
    padding-left: 42px;
  }
  .about__card > .about__card-img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 1200px) {
  .about__card {
    width: 270px;
  }
}

.about__card-wrapper {
  width: 450px;
}

@media screen and (min-width: 768px) {
  .about__card-wrapper {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .about__card-wrapper {
    width: 270px;
  }
}

@media screen and (min-width: 768px) {
  .about__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

.about__item-wrapper {
  padding-top: 30px;
}

.about__item-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .about__item-header {
    text-align: left;
  }
}

.about__item-description {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .services {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .services {
    display: none;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .services .container {
    padding-top: 0;
    padding-bottom: 94px;
  }
  .services__list {
    display: flex;
    justify-content: center;
    list-style: none;
    column-gap: 30px;
  }
  .services__img {
    object-fit: cover;
  }
  .services__item-wrapper {
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
  }
  .services__item-header {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 27px;
    padding-bottom: 27px;
  }
  .services__card-wrapper {
    position: relative;
  }
  .services__card-wrapper > .services__item-wrapper {
    position: absolute;
    bottom: 0px;
  }
}

.team {
  background-color: #f5f4fa;
}

.team__list {
  list-style: none;
}

.team__card-wrapper {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.team__card-img > .team__img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.team__item-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.team__item-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team__item-description {
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
  }
  .team__item {
    margin-top: 30px;
  }
  .team__card-img {
    width: 450px;
    height: 460px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    justify-content: center;
  }
  .team__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
  .team__card-img {
    width: 354px;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .team .container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team__list {
    display: flex;
    justify-content: center;
    column-gap: 30px;
  }
  .team__card-img {
    width: 270px;
    height: 260px;
  }
}

.clients {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients__list {
  display: flex;
  list-style: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .clients__list {
    padding-top: 30px;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.clients__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 2 - 30px);
  width: 210px;
  height: 92px;
  background-color: transparent;
  border-radius: 4px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:hover, .clients__item:focus {
  fill: #2196f3;
  cursor: pointer;
  border-color: #2196f3;
}

.clients__logo {
  border: none;
  padding-left: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .clients__list {
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .clients__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 3 - 30px);
    width: 226px;
    height: 92px;
    background-color: transparent;
    border-radius: 4px;
    fill: #afb1b8;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: fill, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .clients__item:hover, .clients__item:focus {
    fill: #2196f3;
    cursor: pointer;
    border-color: #2196f3;
  }
  .clients__logo {
    border: none;
    padding-left: 28px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients__list {
    justify-content: center;
    column-gap: 30px;
  }
  .clients__logo {
    fill: #afb1b8;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: fill, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .clients__logo:hover, .clients__logo:focus {
    fill: #2196f3;
    cursor: pointer;
    border-color: #2196f3;
  }
}

.footer {
  background-color: #2f303a;
  display: flex;
  justify-content: center;
}

.footer__header {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.newsletter {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer__header {
    text-align: center;
  }
  .newsletter {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  .footer__header {
    text-align: center;
  }
  .newsletter {
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .footer .container {
    display: flex;
    justify-content: center;
  }
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .newsletter {
    justify-content: flex-start;
    padding-top: 72px;
    padding-left: 78px;
  }
}

.portfolio__navigation-list {
  display: flex;
  justify-content: center;
  list-style: none;
  column-gap: 8px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .portfolio__navigation-list {
    flex-wrap: wrap;
    row-gap: 15px;
    margin-top: 60px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__navigation {
    margin-top: 60px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .portfolio__hero .container {
    margin-top: 94px;
    margin-bottom: 50px;
  }
}

.gallery .container {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.gallery__list {
  list-style: none;
}

.gallery__item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__item:hover, .gallery__item:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.gallery__item:hover .overlay {
  transform: translateY(0);
}

.gallery__item-wrapper {
  padding: 20px 24px;
  background-color: #ffffff;
  border-top-width: none;
  border-top-style: none;
  border-top-color: none;
  border: 1px solid #eeeeee;
}

.gallery__card {
  height: 294px;
  position: relative;
  overflow: hidden;
}

.gallery__img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery__item-header {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.gallery__item-description {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .gallery {
    flex-direction: column;
    margin-bottom: 60px;
  }
  .gallery__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .gallery__card {
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery {
    margin-bottom: 60px;
  }
  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .gallery__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
  .gallery__card {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .gallery .container {
    margin-bottom: 94px;
  }
  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    width: 1200px;
  }
  .gallery__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 3 - 30px);
  }
  .gallery__card {
    width: 370px;
  }
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  fill: #212121;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  align-content: center;
  padding: 5px 5px;
}

.close-btn:hover, .close-btn:focus {
  fill: #2196f3;
}

.modal-form__button {
  display: block;
  padding: 10px 76px;
  border-radius: 4px;
  border-style: none;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  cursor: pointer;
  letter-spacing: 6%;
  margin: 0 auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__button:hover, .modal-form__button:focus {
  color: #212121;
  background-color: #f5f4fa;
}

.signup-form__button {
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: left;
  letter-spacing: 6%;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  padding-left: 42px;
  border-radius: 4px;
  border-style: none;
  transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.signup-form__button:hover, .signup-form__button:focus {
  background-color: #f5f4fa;
}

.signup-form__button:hover > *,
.signup-form__button:focus > * {
  color: #212121;
  fill: #212121;
}

.hero__modal-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  padding: 10px 41px 10px 42px;
  border-radius: 4px;
  border-style: none;
  transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__modal-button:hover, .hero__modal-button:focus {
  color: #212121;
  background-color: #f5f4fa;
}

.portfolio__navigation-btn {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border-style: none;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__navigation-btn:hover, .portfolio__navigation-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.contact {
  display: none;
}

@media screen and (min-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column;
    list-style: none;
    row-gap: 10px;
    margin-left: 101px;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    flex-direction: row;
    margin-left: 345px;
  }
}

.contact__link {
  display: none;
}

@media screen and (min-width: 768px) {
  .contact__link {
    display: flex;
    align-items: center;
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    text-decoration: none;
    fill: #757575;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    text-decoration: none;
  }
  .contact__link:hover, .contact__link:focus {
    color: #2196f3;
    fill: #2196f3;
  }
}

@media screen and (min-width: 1200px) {
  .contact__link--mail {
    margin-right: 30px;
  }
  .contact__link--phone {
    margin-right: auto;
  }
}

.contact__icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .contact__icon {
    display: inherit;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__icon:hover, .contact__icon:focus {
    color: #2196f3;
    fill: #2196f3;
  }
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .contact-info {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-info {
    justify-content: flex-start;
    text-align: left;
  }
}

.contact-info__list {
  list-style: none;
}

.contact-info__item:not(:first-child) {
  margin-top: 9px;
}

.contact-info__link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
  opacity: 60%;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

.contact-info__link:hover, .contact-info__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.contact-info__link--address {
  opacity: 1;
}

.current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196f3;
  fill: #757575;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.current::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  border-style: none;
  top: 43.5px;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: bold;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-size: 24px;
  line-height: 1.167;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.192;
  }
}

.logo--light {
  margin-left: 0;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .logo--light {
    margin-right: 83px;
  }
}

@media screen and (min-width: 1200px) {
  .logo--light {
    margin-right: 93px;
  }
}

.logo--dark {
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .logo--dark {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .logo--dark {
    text-align: left;
  }
}

.logo__accent-text {
  color: #2196f3;
}

.header__buttons {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 121;
}

@media screen and (min-width: 768px) {
  .header__buttons {
    display: none;
  }
}

.header__open {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 121;
  width: 40px;
  height: 40px;
  fill: #212121;
  background-color: transparent;
  cursor: pointer;
  padding: 12px 8px;
  border-radius: 0px;
  border-style: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .header__open {
    display: none;
  }
}

.header__open:hover, .header__open:focus {
  fill: #2196f3;
}

.header__open-icon {
  width: 24px;
  height: 16px;
  z-index: 121;
  fill: #212121;
}

.header-mobile__close {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 40px;
  height: 40px;
  margin: 0;
  border: none;
  fill: #212121;
  background-color: transparent;
  cursor: pointer;
  align-content: center;
  padding: 10px 10px;
}

.header-mobile__close-icon {
  width: 19px;
  height: 19px;
  fill: #212121;
}

.header-mobile__close-icon:hover, .header-mobile__close-icon:focus {
  fill: #2196f3;
}

.mobile-menu {
  display: none;
  width: 0px;
  height: 0px;
  top: 0;
  right: 0px;
  transform: scaleY(0);
  position: relative;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu + .is-open {
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  z-index: 201;
  position: absolute;
  padding-left: 40px;
  padding-bottom: 48px;
  width: 480px;
  height: 796px;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16), 0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.04);
  transform: scaleY(1);
  transition: all;
  transform-origin: top;
  transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__navigation-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  row-gap: 32px;
  margin-top: 48px;
}

.mobile-menu__navigation-link, .mobile-menu__current {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  position: relative;
  transition: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__navigation-link:hover, .mobile-menu__navigation-link:focus, .mobile-menu__current:hover, .mobile-menu__current:focus {
  color: #2196f3;
}

.mobile-menu__current {
  color: #2196f3;
}

.mobile-menu__contact {
  display: flex;
  flex-direction: column;
  list-style: none;
  row-gap: 32px;
  margin-top: 306px;
  margin-bottom: 64px;
}

.mobile-menu__contact-link--phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}

.mobile-menu__contact-link--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.mobile-menu__social-links {
  display: flex;
  list-style: none;
}

.mobile-menu__social-links-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
  padding: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.modal {
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: transform 1s ease-out;
  top: 40%;
  left: 50%;
  width: 450px;
  min-height: 609px;
}

@media screen and (min-width: 768px) {
  .modal {
    top: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .modal {
  transform: rotate(270deg);
}

.modal-form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.modal-form__header {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 3%;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form__field {
  font-size: 12px;
  line-height: 1.167;
  text-align: left;
  vertical-align: top;
  letter-spacing: 1%;
  color: #757575;
}

.modal-form__field:not(:first-child) {
  margin-top: 10px;
}

.modal-form__input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  outline: none;
  border-color: #2196f3;
}

.modal-form__input:focus + .modal-form__icon {
  fill: #2196f3;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #212121;
  display: block;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__message:focus {
  outline: none;
  border-color: #2196f3;
}

.modal-form__message::placeholder {
  font-size: 12px;
  line-height: 1.167;
  text-align: left;
  vertical-align: top;
  letter-spacing: 1%;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__policy {
  appearance: none;
}

.modal-form__policy:checked + .modal-form__policy-text::before {
  background-color: #2196f3;
  border-width: 1px;
  border-color: #2196f3;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}

.modal-form__policy-wrapper {
  display: flex;
  justify-content: center;
}

.modal-form__policy-text {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.714;
  text-align: left;
  vertical-align: top;
  align-items: center;
  letter-spacing: 3%;
  color: #757575;
  cursor: pointer;
}

.modal-form__policy-text::before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 12px;
  height: 12px;
  border: 2.5px solid #212121;
  border-radius: 3px;
  margin-right: 8px;
  cursor: pointer;
  transition: background-color, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__policy-link {
  color: #2196f3;
  text-decoration: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay > p {
  color: #ffffff;
  padding: 49px 45px 49px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  text-align: left;
  letter-spacing: 3%;
}

.hidden {
  display: none;
}

.secondary-header {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.178;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .secondary-header {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .secondary-header {
    font-size: 36px;
    line-height: 1.167;
    margin-bottom: 50px;
  }
}

.signup-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .signup-form {
    flex-direction: row;
  }
}

.signup-form__input {
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 16px;
  line-height: 1.25;
  text-align: left;
  letter-spacing: 3%;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-right: 12px;
  background-color: inherit;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  width: 450px;
}

@media screen and (max-width: 1199px) {
  .signup-form__input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .signup-form__input {
    width: 358px;
  }
}

.signup-form__input:focus-within {
  border-color: #2196f3;
}

.signup-form__icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 24px;
  transition: fill, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links {
  display: flex;
  justify-content: center;
  list-style: none;
  column-gap: 10px;
}

.social-links__icon {
  cursor: pointer;
  border-radius: 50%;
  border-style: none;
  height: 44px;
  width: 44px;
  transition: fill, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__icon:hover, .social-links__icon:focus {
  fill: #ffffff;
  background-color: #2196f3;
  border-radius: 50%;
  border-style: none;
  height: 44px;
  width: 44px;
}

.social-links__icon--light {
  fill: #afb1b8;
  background-color: #ffffff;
}

.social-links__icon--dark {
  fill: #ffffff;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}

.footer__social-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 1199px) {
  .footer__social-links {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__social-links {
    justify-content: flex-start;
    align-items: center;
    padding-left: 70px;
  }
}
/*# sourceMappingURL=main.css.map */