:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-color: #212121;
  --secondary-color: #757575;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*====COMPONENTS====*/
.navigation-link:hover,
.navigation-link:focus,
.footer-link:hover,
.footer-link:focus,
.contact-icon:hover,
.contact-icon:focus {
  color: #2196f3;
  fill: #2196f3;
}
/*====END COMPONENTS====*/

/*====HEADER====*/
.header .container {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
  align-items: center;
}

.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.navigation {
  display: flex;
}

.logo {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
  margin-right: 93px;
}

.logo > .web {
  color: #2196f3;
}

.navigation-list,
.contact-list,
.social-links,
.clients-list {
  display: flex;
}

.navigation-item:not(:last-child) {
  margin-right: 46px;
}

.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color);
  fill: var(--secondary-color);
  cursor: pointer;
}

.contact-mail {
  margin-right: 50px;
  margin-left: 371px;
}

.contact-phone {
  margin-right: auto;
}

.contact-mail,
.contact-phone {
  color: var(--secondary-color);
}
/*====END HEADER====*/

/*====HERO====*/
.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero {
  background-color: #2f303a;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #212121;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('/images/background-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 25%;
}

.main-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
}

.hero-modal-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  padding: 10px 41px 10px 42px;
  border-radius: 4px;
  border-style: none;
}

.hero-modal-btn:hover,
.hero-modal-btn:focus {
  color: var(--main-color);
  background-color: #f5f4fa;
}
/*====END HERO====*/

/*====ABOUT====*/
.about .container {
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

.about-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -94px;
}

.about-item {
  margin-left: 30px;
  margin-top: 94px;
  flex-basis: calc(100% / 4 - 30px);
}

.about-img {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.about-header {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-description {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
/*====END ABOUT====*/

/*====SERVICES====*/
.services {
  padding-top: 0;
}

.services .secondary-header {
  margin-bottom: 50px;
}

.services-list {
  display: flex;
  justify-content: space-between;
}

.secondary-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
}

.services-img {
  object-fit: cover;
}
/*====END SERVICES====*/

/*====TEAM====*/
.team .secondary-header {
  margin-bottom: 50px;
}

.team {
  background-color: #f5f4fa;
}

.team-item {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-card-img {
  width: 270px;
  height: 260px;
}

.team-card-img > .team-img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.team-item-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.team-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-description {
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 16px;
}

.social-links-item:first-child {
  padding-left: 32px;
}

.social-links-item:not(last-child) {
  padding-right: 10px;
}

.social-links-icon {
  fill: #afb1b8;
}

.social-links-icon:hover,
.social-links-icon:focus {
  fill: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  border-radius: 50%;
  border-style: none;
  height: 44px;
  width: 44px;
}
/*====END TEAM====*/

/*====CLIENTS====*/
.clients {
  padding-top: 94px;
}

.clients .clients-header {
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.172;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients-list-item:not(last-child) {
  padding-right: 30px;
}

.clients-logo {
  fill: #afb1b8;
  border-width: 1px;
  border-style: solid;
  border-color: #afb1b8;
  border-radius: 4px;
}

.clients-logo:hover,
.clients-logo:focus {
  fill: #2196f3;
  cursor: pointer;
  border-color: #2196f3;
}
/*====END CLIENTS====*/

/*====FOOTER====*/
.footer {
  background-color: #2f303a;
}

.footer .container {
  display: inline-flex;
  justify-content: flex-start;
}

.footer-left-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 80px;
}

.footer-logo {
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-item {
  margin-bottom: 9px;
}

.footer-link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
  opacity: 60%;
  text-decoration: none;
}

.footer-address {
  opacity: 1;
}

.footer-header {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-icon {
  fill: #ffffff;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  border-radius: 50%;
  border-style: none;
  height: 44px;
  width: 44px;
}

.footer-social-links:first-child {
  padding-left: 0px;
}

.footer-right-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 72px;
  padding-bottom: 100px;
  padding-left: 70px;
}
/*====END FOOTER====*/

/*====PORTFOLIO====*/

/*====PORTFOLIO HERO====*/
.portfolio-hero .container {
  display: flex;
  padding-top: 94px;
  padding-bottom: 50px;
  justify-content: center;
}

.hero-list {
  display: flex;
}

.hero-item:not(:last-child) {
  margin-right: 8px;
}

.modal-btn {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: #f5f4fa;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border-style: none;
}

.modal-btn:hover,
.modal-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
/*====END PORTFOLIO HERO====*/

/*====PORTFOLIO GALLERY====*/
.gallery .container {
  display: flex;
  padding-top: 0;
  padding-bottom: 94px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  width: 1200px;
}

.gallery-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.gallery-item:hover,
.gallery-item:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
    0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.gallery-item-wrapper {
  padding: 20px 24px;
  background-color: #ffffff;
  border-top-width: none;
  border-top-style: none;
  border-top-color: none;
  border-width: 1px;
  border-style: solid;
  border-color: #eeeeee;
}

.gallery-header {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.gallery-description {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
/*====END PORTFOLIO GALLERY====*/
/*====END PORTFOLIO====*/
