:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-color: #212121;
  --secondary-color: #757575;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  background-color: #ffffff;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

* {
  box-sizing: border-box;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  max-width: 1600px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*====COMPONENTS====*/
.navigation-link:hover,
.navigation-link:focus,
.footer-link:hover,
.footer-link:focus,
.contact-icon:hover,
.contact-icon:focus {
  color: #2196f3;
  fill: #2196f3;
}
/*====END COMPONENTS====*/

/*====HEADER====*/
.header .container {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
  margin-right: 93px;
}

.logo > .web {
  color: #2196f3;
}

.navigation-list,
.contact-list,
.social-links,
.clients-list {
  display: flex;
}

.contact-mail,
.contact-phone {
  display: flex;
  align-items: center;
}

.navigation-item:not(:last-child) {
  margin-right: 46px;
}

.navigation-link,
.current {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
  fill: var(--secondary-color);
  cursor: pointer;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.navigation-link {
  color: var(--main-color);
}

.current {
  color: #2196f3;
}

.current::after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  border-style: none;
  top: 43.5px;
}

.contact-mail {
  margin-right: 30px;
  margin-left: 345px;
}

.contact-phone {
  margin-right: auto;
}

.contact-mail,
.contact-phone {
  color: var(--secondary-color);
}

.contact-icon {
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*====END HEADER====*/

/*====HERO====*/
.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero {
  background-color: #2f303a;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #212121;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/background-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.main-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
  margin-bottom: 30px;
}

.hero-modal-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  padding: 10px 41px 10px 42px;
  border-radius: 4px;
  border-style: none;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-modal-btn:hover,
.hero-modal-btn:focus {
  color: var(--main-color);
  background-color: #f5f4fa;
}
/*====END HERO====*/

/*====ABOUT====*/

.hidden {
  display: none;
}

.about-list {
  display: flex;
  justify-content: center;
}

.about-item:not(last-child) {
  padding-right: 30px;
}

.about-card {
  width: 270px;
}

.about-card-img {
  width: 270px;
  height: 120px;
}

.about-card-img > .about-img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.about-item-wrapper {
  padding-top: 30px;
}

.about-header {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-description {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
/*====END ABOUT====*/

/*====SERVICES====*/
.services {
  padding-top: 0;
}

.services .secondary-header {
  margin-bottom: 50px;
}

.services-list {
  display: flex;
  justify-content: center;
}

.services-item:not(last-child) {
  padding-right: 30px;
}

.secondary-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
}

.services-img {
  object-fit: cover;
}

.services-card-wrapper {
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.services-header {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 27px;
  padding-bottom: 27px;
}

.services-card {
  position: relative;
}

.services-card > .services-card-wrapper {
  position: absolute;
  bottom: 0px;
}
/*====END SERVICES====*/

/*====TEAM====*/
.team .secondary-header {
  margin-bottom: 50px;
}

.team {
  background-color: #f5f4fa;
}

.team-card {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.team-list {
  display: flex;
  justify-content: center;
}

.team-item:not(last-child) {
  padding-right: 30px;
}

.team-card-img {
  width: 270px;
  height: 260px;
}

.team-card-img > .team-img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.team-item-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.team-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-description {
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 16px;
}

.social-links-item:first-child {
  padding-left: 32px;
}

.social-links-item:not(last-child) {
  padding-right: 10px;
}

.social-links-icon {
  fill: #afb1b8;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 50%;
  border-style: none;
  height: 44px;
  width: 44px;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-icon:hover,
.social-links-icon:focus,
.footer-icon:hover,
.footer-icon:focus {
  fill: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  border-radius: 50%;
  border-style: none;
  height: 44px;
  width: 44px;
}
/*====END TEAM====*/

/*====CLIENTS====*/
.clients {
  padding-top: 94px;
}

.clients .clients-header {
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.172;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients-list-item:not(last-child) {
  padding-right: 30px;
}

.clients-logo {
  fill: #afb1b8;
  border-width: 1px;
  border-style: solid;
  border-color: #afb1b8;
  border-radius: 4px;
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-logo:hover,
.clients-logo:focus {
  fill: #2196f3;
  cursor: pointer;
  border-color: #2196f3;
}
/*====END CLIENTS====*/

/*====FOOTER====*/
.footer {
  background-color: #2f303a;
}

.footer .container {
  display: inline-flex;
  justify-content: flex-start;
}

.footer-left-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 80px;
}

.footer-logo {
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-item {
  margin-bottom: 9px;
}

.footer-link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
  opacity: 60%;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address {
  opacity: 1;
}

.footer-header {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-icon {
  fill: #ffffff;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  border-radius: 50%;
  border-style: none;
  height: 44px;
  width: 44px;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-links:first-child {
  padding-left: 0px;
}

.footer-right-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 72px;
  padding-bottom: 100px;
  padding-left: 70px;
}

.footer-newsletter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 72px;
  padding-bottom: 94px;
  padding-left: 78px;
}

.footer-form {
  display: flex;
  flex-direction: row;
}

.footer-input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0.3);
  border-width: 1px;
  font-size: 16px;
  line-height: 1.25;
  text-align: left;
  letter-spacing: 3%;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-right: 12px;
  background-color: inherit;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.footer-input:focus-within {
  border-color: #2196f3;
}

.newsletter-btn {
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: left;
  letter-spacing: 6%;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  padding-left: 42px;
  border-radius: 4px;
  border-style: none;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.newsletter-icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 24px;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter-btn:hover,
.newsletter-btn:focus,
.newsletter-icon:hover,
.newsletter-icon:focus {
  color: var(--main-color);
  fill: var(--main-color);
  background-color: #f5f4fa;
}
/*====END FOOTER====*/

/*====BACKDROP====*/

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: transform 1s ease-out;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  align-content: center;
  padding: 5px 5px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .modal {
  transform: rotate(270deg);
}

.modal-form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.modal-form-policy-text::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #000000;
}

/* .modal-signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.modal-header {
  justify-content: center;
  align-content: center;
  width: 448px;
  height: 23px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 3%;
  text-align: center;
  vertical-align: top;
  color: #212121;
}

.modal-label-text {
  margin-left: 40px;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.167;
  text-align: left;
  vertical-align: top;
  letter-spacing: 1%;
  color: #757575;
}

.modal-input {
  width: 448px;
  height: 40px;
  margin-left: 40px;
  margin-bottom: 28px;
  border-radius: 4px;
  border-width: 1px;
  color: rgba(33, 33, 33, 0.2);
}

/* .backdrop-input .backdrop-icon {
} */

.modal-comment {
  resize: none;
  width: 448px;
  height: 120px;
  margin-left: 40px;
  margin-bottom: 20px;
  border-radius: 4px;
  border-width: 1px;
  color: rgba(33, 33, 33, 0.2);
}

.modal-form-policy {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modal-form-policy-text {
  color: #757575;
  font-size: 14px;
  line-height: 1.714;
  text-align: left;
  vertical-align: top;
  letter-spacing: 3%;
}

.modal-form-policy-text-blue {
  color: #2196F3;
  text-decoration: underline;
}

.modal-submit-btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border-style: none;
  background-color: #2196F3;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  align-content: center;
  letter-spacing: 6%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  /* margin-bottom: 40px;
  margin-left: 164px; */
}
/*====END BACKDROP====*/

/*====PORTFOLIO====*/

/*====PORTFOLIO HERO====*/
.portfolio-hero .container {
  padding-top: 94px;
  padding-bottom: 50px;
}

.hero-list {
  display: flex;
  justify-content: center;
}

.hero-item:not(:last-child) {
  margin-right: 8px;
}

.modal-btn {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: #f5f4fa;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border-style: none;
  transition-property: color, background-color, box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
/*====END PORTFOLIO HERO====*/

/*====PORTFOLIO GALLERY====*/
.gallery .container {
  display: flex;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 94px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  width: 1200px;
}

.gallery-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-item:hover,
.gallery-item:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
    0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.gallery-item-wrapper {
  padding: 20px 24px;
  background-color: #ffffff;
  border-top-width: none;
  border-top-style: none;
  border-top-color: none;
  border-width: 1px;
  border-style: solid;
  border-color: #eeeeee;
}

.gallery-card {
  width: 370px;
  height: 294px;
  position: relative;
  overflow: hidden;
}

.gallery-item:hover .overlay {
  transform: translateY(0);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay > p {
  color: #ffffff;
  padding: 49px 45px 49px 24px;
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  text-align: left;
  letter-spacing: 3%;
}

.gallery-card > .gallery-img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery-header {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.gallery-description {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
/*====END PORTFOLIO GALLERY====*/
/*====END PORTFOLIO====*/
