.footer {
    background-color: #2f303a;
  }
  
.footer .container {
    display: flex;
    justify-content: center;
  }
  
.footer__header {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor(primary-neutral);
    margin-bottom: 20px;
  }
  
.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 72px;
    padding-left: 78px;
  }