.services .container {
    padding-top: 0;
    padding-bottom: 94px;
  }
  
.services__list {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  
.services__item:not(:last-child) {
    padding-right: 30px;
  }
  
.services__img {
    object-fit: cover;
  }
  
.services__item-wrapper {
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
  }
  
.services__item-header {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor(primary-neutral);
    padding-top: 27px;
    padding-bottom: 27px;
  }
  
.services__card-wrapper {
    position: relative;
  }
  
.services__card-wrapper > .services__item-wrapper {
    position: absolute;
    bottom: 0px;
  }