.logo {
  font-family: var(--secondary-font);
  font-weight: bold;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-size: 24px;
  line-height: 1.167;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.192;
  }

  &--light {
    margin-left: 0;
    color: getColor(primary);

    @media screen and (min-width: 768px) {
      margin-right: 83px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 93px;
    }
  }

  &--dark {
    color: getColor(primary-neutral);
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      text-align: center;
    }

    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }

  &__accent-text {
    color: getColor(secondary);
  }
}
