.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay > p {
    color: #ffffff;
    padding: 49px 45px 49px 24px;
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    letter-spacing: 3%;
  }
