.signup-form {
    display: flex;
    flex-direction: row;
  }
  
.signup-form__input {
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 16px;
    line-height: 1.25;
    text-align: left;
    letter-spacing: 3%;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-right: 12px;
    background-color: inherit;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
   
    &:focus-within {   
      border-color: getColor(secondary); 
    }
  }
  
.signup-form__button {
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: left;
    letter-spacing: 6%;
    color: getColor(primary-neutral);
    background-color: getColor(secondary);
    cursor: pointer;
    padding-left: 42px;
    border-radius: 4px;
    border-style: none;
    transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    &:hover,
    &:focus {
      background-color: getColor(third-neutral);
    }
  }
  
.signup-form__button:hover > *,
.signup-form__button:focus > * {
    color: getColor(primary);
    fill: getColor(primary);
  }

.signup-form__icon {
    width: 24px;
    height: 24px;
    fill: getColor(primary-neutral);
    margin-left: 24px;
    transition: fill, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }