.signup-form {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }

  &__input {
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 16px;
    line-height: 1.25;
    text-align: left;
    letter-spacing: 3%;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-right: 12px;
    background-color: inherit;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    width: 450px;

    @media screen and (max-width: 1199px) {
      margin-bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
      width: 358px;
    }

    &:focus-within {
      border-color: getColor(secondary);
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: getColor(primary-neutral);
    margin-left: 24px;
    transition: fill, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
