.social-links {
  display: flex;
  justify-content: center;
  list-style: none;
  column-gap: 10px;
}
  
.social-links__icon {
  cursor: pointer;
  border-radius: 50%;
  border-style: none;
  height: 44px;
  width: 44px;
  transition: fill, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: getColor(primary-neutral);
    background-color: getColor(secondary);
    border-radius: 50%;
    border-style: none;
    height: 44px;
    width: 44px;
  }
}
  
.social-links__icon--light {
  fill: getColor(fourth-neutral);
  background-color: getColor(primary-neutral);
}
  
.social-links__icon--dark {
  fill: getColor(primary-neutral);
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)
  );
}

.footer__social-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 72px;
  padding-left: 70px;
}